<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net472" />
  <package id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>